.post-content {
    display: flex;
    gap: 12px;
}

.username {
   font-weight: bold;
   font-size: 14px;
   color: #000;
}

.date {
    font-size: 14px;
    color: #888888;
}

.post-text {
    font-size: 14px;
    color: #000;
}